* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.app {
    display: flex !important;
    align-items: center !important;
    flex-direction: column !important;
    background-color: #f3f2ef;
}

.app_body {
    display: flex !important;
    width: 100% !important;
    margin-top: 35px !important;
    max-width: 1200px !important;
    margin-left: 20px !important;
    margin-right: 20px !important;
}